@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 4%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 4%;

    --secondary: 210 20% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 83%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --border: 0 0% 100%;

    --input: 0 0% 100%;
    --input-foreground: 0 0% 4%;

    --accent: 258 90% 66%;
    --accent-foreground: 250 100% 98%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;

    --primary: 0 0% 9%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --border: 0 0% 25%;

    --input: 215 28% 17%;
    --input-foreground: 216 12% 84%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}